.feature-card {
  flex: 1 1 250px;
  max-width: 270px;

  background: white;

  padding: 35px 25px;

  border-radius: 15px;

  text-align: center;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);

  transition: all 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.feature-card h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.feature-card h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.feature-card p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
}